<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinghe.project.mapper.AiPromptMapper">

    <resultMap id="BaseResultMap" type="com.xinghe.project.model.entity.AiPrompt">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="prompt" column="prompt" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="createtime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updatetime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isdelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,prompt,description,
        createTime,updateTime,isDelete
    </sql>
</mapper>
